/clustering/categories.json
auth_credentials.json
__pycache__
.terraform
terraform.tfstate
terraform.tfstate.backup
db_secrets.json
modules/variables.tf
.terraform.lock.hcl
testing.py
save_to_db_execute.py
venv
unbrickable-ssh.pem.pub
webserver-ssh-key.pem
web-app.zip
lambda-package-minifigures.zip
lambda-package-minifigure-parts.zip
lambda-package-part-prices.zip
.DS_Store
