{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} What Minifigure to build and sell.. {% endblock %}</h1>
    {% for item in minifigures %}
        <h2>{{ item['minifigure_id'] }}</h2>
    <table>
        <tr>
            <td>Minimum Parts Price: {{ item['min_price_multiple_parts'] }}</td>
        </tr>
        <tr>
            <td>Minimum Minifigure Price: {{ item['min_minifigure_price'] }}</td>
        </tr>
        <tr>
            <td>Profit by assembling: {{ item['profit'] }}</td>
        </tr>
    </table>
    <hr>
{% endfor %}
{% endblock %}